@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}


/* Header */
.nav {
  display: flex;
  background-color:  black;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
} 

.container-1 {
  margin-left: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.kfc-logo {
  width: 110px;
  height: 50px;
}

#icon {
  color: white;
  font-size: x-large;
} 

.nav-svg {
  border: 2px solid #EA002A;
  background-color: #1C1816;
  padding: 6px 15px;
  display: flex;
  gap: 2px;
  align-items: center;
  border-radius: 5px;
}

.svg-nm {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 550;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bucket {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: 800;
  margin-right: 10px;
  padding: 0;
  width: 45px;
  background-repeat: no-repeat;
  height: 50px;
  background-image: url(https://www.kfcpakistan.com/static/media/bucket-filled.d2ad11819eca0f28a8ac.svg);
  color: black;
  text-align: center;
  background-color: black;
}

.login-btn {
  padding: 10px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 550;
  border: none;
  background-color: #EA002A;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  color: #EA002A;
  padding: 8px;
  background-color: white;
  border: 2px solid #EA002A;
  transition: 0.3s ease;
}

.container-end {
  margin-right: 50px;
}
/* Header End */



/* Categories */
.categories {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cat-btn {
  display: inline;
  padding: 5px;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  border: none;
  background-color: #EA002A;
  border-radius: 5px;
  cursor: pointer;
}

.cat-btn:hover {
  background-color: white;
  color: #EA002A;
  border: 1px solid #EA002A;
  transition: 0.3s ease;
}
/* Categories End  */




/* Kfc Cards */
.products-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  row-gap: 50px;
}

.value-box {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.product {
  width: 15rem;
  height: auto;
  padding: 15px;
  margin: 5px;
  background-color: #1C1816;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px 4px #ea002bb1;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: flex-start;
  margin: 0px;
  color: white;
  font-size: 25px;
}

.p-title {
  margin: 0 0 8px;
  padding: 8px 0 0;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p-price {
  margin: 0 0 10px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.kfc-card-btn {
  padding: 5px;
  color: white;
  font-size: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 550;
  border: none;
  background-color: #EA002A;
  border-radius: 5px;
  cursor: pointer;
}

.kfc-card-btn:hover{
  color: #EA002A;
  padding: 3px;
  background-color: white;
  border: 2px solid #EA002A;
  transition: 0.3s ease;
}
/* Kfc Cards */



/* Cart Details */
.col {
  position: absolute;
  right: 40px;
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
  width: 80%;
  padding-bottom: 10px;
  box-shadow: 0px 0px 10px 5px black;
}

.cart-detail-title {
  color: white;
}

.cart-detail-desc {
  color: white;
}

.card-detail-price {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  background-color: #EA002A;
  padding: 0 5px;
  border-radius: 5px;
}

.cart-detail-btn {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 550;
  border: none;
  background-color: #EA002A;
  cursor: pointer;
}

.cart-detail-btn:hover {
  background-color: white;
  color: #EA002A;
  transition: 0.3s ease;
}
/* Cart Details End */




/* Empty Bucket Canvas  */
.empty-bucket {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  margin-top: 100px;
}

.empty-title {
  font-size: 1rem;
  font-weight: bold;
}
/* Empty Bucket Canvas */




/* Product Bucket Canvas */
.bucket-canvas {
  background-color: black;
  color: white;
}

.canvas-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
}  

.canvas-text {
  text-align: left;
  font-weight: bold;
}

.p-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.add-btn {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 550;
  border: none;
  background-color: #EA002A;
  border-radius: 20px;
  cursor: pointer;
}

.add-btn:hover {
  color: #EA002A;
  background-color: white;
  border: 0.5px solid #EA002A;
  transition: 0.3s ease;
}

.inc {
  padding: 0px 8px;
}

.dec {
  padding: 0px 10px;
}

.cons-quan {
  margin: 0 5px;
}

.cons {
  margin: 0 5px;
  position: absolute;
  bottom: 0;
}

.checkout-btn {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 550;
  border: none;
  background-color: #EA002A;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: white;
  color: #EA002A;
  transition: 0.3s ease;
}

.checkout-price {
  display: flex;
  justify-content: space-between;
}

.arrow {
  background-color: white;
  color: black;
  padding: 5px 6px;
  border-radius: 50px;
}
/* Product Bucket Canvas */



/* Footer */
.footer-container {
  background-color: #1C1816;
  padding: 50px;
  margin-top: 10px;
}

.footer-container-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.footer-img {
  width: 150px;
  height: 150px;
}

.footer-text {
  color: white;
  cursor: pointer;
}

.footer-text h6:hover {
  color: #EA002A;
  transition: 0.3s ease;
}

.footer-text h7 {
  color: #EA002A;
  font-weight: bold;
}

.footer-text h7:hover {
  color: white;
  transition: 0.3s ease;
}

.footer-spons {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.footer-spons a {
  color: white;
}

.footer-spons h7 {
  color: #EA002A;
  font-weight: bold;
}
/* Footer End */



/* Pagination */
.pagination {
  --bs-pagination-border-color: black;
  --bs-pagination-hover-color: #EA002A;
  --bs-pagination-hover-bg: black;
  --bs-pagination-hover-border-color: #EA002A;
  --bs-pagination-focus-bg: #1C1816;
  --bs-pagination-focus-color: #EA002A;
  --bs-pagination-focus-box-shadow: 0 0 0 0.15rem #ea002b6c;
}

.page-item {
  background-color: #1C1816;
}

.page-link {
  background-color: #EA002A;
  color: black;
}